<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    {{template "layout-head" .}}
</head>
<body>
<div class="layout">
    {{template "layout-logo" .}}

    <div class="layout-right">
        <form class="login-container" id="form" action="" method="post">
            <h1>Login</h1>

            <label class="label">
                Username
                <div class="input">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 25" width="24" height="25">
                        <path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" />
                    </svg>
                    <input type="text" placeholder="john.doe" name="username" />
                </div>
            </label>

            <label class="label">
                Password
                <div class="input">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 25" width="24" height="25">
                        <path d="M17,7H22V17H17V19A1,1 0 0,0 18,20H20V22H17.5C16.95,22 16,21.55 16,21C16,21.55 15.05,22 14.5,22H12V20H14A1,1 0 0,0 15,19V5A1,1 0 0,0 14,4H12V2H14.5C15.05,2 16,2.45 16,3C16,2.45 16.95,2 17.5,2H20V4H18A1,1 0 0,0 17,5V7M2,7H13V9H4V15H13V17H2V7M20,15V9H17V15H20M8.5,12A1.5,1.5 0 0,0 7,10.5A1.5,1.5 0 0,0 5.5,12A1.5,1.5 0 0,0 7,13.5A1.5,1.5 0 0,0 8.5,12M13,10.89C12.39,10.33 11.44,10.38 10.88,11C10.32,11.6 10.37,12.55 11,13.11C11.55,13.63 12.43,13.63 13,13.11V10.89Z" />
                    </svg>
                    <input type="password" name="password" />
                </div>
            </label>

            {{ if .Message }}
            <div class="error" id="error">{{ .Message }}</div>
            {{ end }}

            <button type="submit">Continue</button>

            {{ if .SelfRegistration }}
            <div class="account">Don't have an account? <a href="/register">Register here</a></div>
            {{ end }}
        </form>
    </div>
</div>
</body>
</html>
