<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Logout Failed</title>
    {{template "layout-head" .}}
</head>
<body>
<div class="layout">
    {{template "layout-logo" .}}

    <div class="layout-right">
        <div class="login-container">
            <h1>Logout Failed</h1>
            {{ if .Message }}
            <div class="error">{{ .Message }}</div>
            {{ end }}
            <form action="/logout" method="post">
                <button type="submit">Logout</button>
            </form>
            <div class="account"><a href="/">Back to Home</a></div>
        </div>
    </div>
</div>
</body>
</html>
