<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Change Password</title>
    {{template "layout-head" .}}
</head>
<body>
<div class="layout">
    {{template "layout-logo" .}}

    <div class="layout-right">
        <form class="login-container" id="form" action="/password" method="post">
            <h1>Change Password</h1>

            <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}" />

            <label class="label">
                Current Password
                <div class="input">
                    <input type="password" name="current_password" autocomplete="current-password" />
                </div>
            </label>

            <label class="label">
                New Password
                <div class="input">
                    <input type="password" name="new_password" autocomplete="new-password" required minlength="8" />
                </div>
            </label>

            {{ if .Message }}
            <div class="error" id="error">{{ .Message }}</div>
            {{ end }}

            <button type="submit">Change Password</button>

            <div class="account"><a href="/">Back to Home</a></div>
        </form>
    </div>
</div>
</body>
</html>
